<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./MobileNav.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="mobile-nav">
    <div class="frame-640756">
      <div class="frame-640754">
        <img class="harmburger" src="harmburger0.svg" />
        <div class="shop-co">SHOP.CO</div>
      </div>
      <div class="frame-5">
        <img class="search-78" src="search-780.svg" />
        <img class="cart" src="cart0.svg" />
        <img class="profile" src="profile0.svg" />
      </div>
    </div>
    <div class="frame-3">
      <img class="frame" src="frame0.svg" />
      <div class="search-for-products">Search for products...</div>
    </div>
  </div>
  
</body>
</html>