.mobile-nav,
.mobile-nav * {
  box-sizing: border-box;
}
.mobile-nav {
  padding: 0.25rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.frame-640756 {
  padding: 0.25rem 0rem 0.25rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-640754 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.harmburger {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.shop-co {
  color: #000000;
  text-align: left;
  font-family: "IntegralCf-Bold", sans-serif;
  font-size: 1.5749999284744263rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search-78 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.cart {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.profile {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.frame-3 {
  background: #f0f0f0;
  border-radius: 3.875rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  height: 2rem;
  min-width: 12.5rem;
  max-width: 25rem;
  position: relative;
  overflow: hidden;
}
.frame {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.375rem;
  position: relative;
  overflow: visible;
}
.search-for-products {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
