.frame-64078,
.frame-64078 * {
  box-sizing: border-box;
}
.frame-64078 {
  height: 256rem;
  position: relative;
  overflow: hidden;
}
.frame-153 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.frame-64077 {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-10-as {
  background: #000000;
  padding: 0.5625rem 6.25rem 0.5625rem 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.sign-up-and-get-671 {
  color: #ffffff;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.sign-up-and-get-671-span {
  font-family: "Satoshi-Regular", sans-serif;
}
.sign-up-and-get-671-span2 {
  font-family: "Satoshi-Medium", sans-serif;
  font-weight: 500;
  text-decoration: underline;
}
.frame-561 {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: visible;
}
.frame-64076-o-pf {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-151-ps-a {
  padding: 0rem 6.25rem 0rem 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.shopco {
  color: #000000;
  text-align: left;
  font-family: "ArialBlack-Regular", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 20.0625rem;
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.shop {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.frame {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.on-sale {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.new-arrivals {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.brands {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.frame-3 {
  background: #f0f0f0;
  border-radius: 3.875rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 12.5rem;
  max-width: 35.4375rem;
  position: relative;
  overflow: hidden;
}
.frame2 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.search-for-products {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-78 {
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-091 {
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-150 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-147 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  max-width: 37.25rem;
  position: relative;
}
.find-clothes-that-matche {
  color: #000000;
  text-align: left;
  font-family: "ArialBlack-Regular", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.browse-through-our-diverse-range-of-meticulously-crafted-garments-designed-to-bring-out-your-individuality-and-cater-to-your-sense-of-style {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-14 {
  background: #000000;
  border-radius: 3.875rem;
  padding: 1rem 3.375rem 1rem 3.375rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 13.125rem;
  height: 3.25rem;
  position: relative;
  overflow: hidden;
}
.shop-now {
  color: #ffffff;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}
.frame-57 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._200 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.international-brands {
  margin: -0.125rem 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
}
.line-9 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem 0 0 0;
  flex-shrink: 0;
  width: 4.625rem;
  height: 0rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._2-000 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.high-quality-products {
  margin: -0.125rem 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
}
.line-10 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem 0 0 0;
  flex-shrink: 0;
  width: 4.625rem;
  height: 0rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-56 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._30-000 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.happy-customers {
  margin: -0.125rem 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
}
.frame-149-1 {
  flex: 1;
  height: 34.426875rem;
  max-width: 38.75rem;
  position: relative;
  object-fit: cover;
}
.frame-127-jd-a {
  background: #000000;
  padding: 2.625rem 6.25rem 2.625rem 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-126 {
  display: flex;
  flex-direction: row;
  row-gap: 6.625rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame3 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 10.405rem;
  height: auto;
  position: relative;
  overflow: visible;
}
.zara-logo-1-1 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 5.6875rem;
  height: auto;
  position: relative;
  overflow: visible;
}
.gucci-logo-1-1 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 9.75rem;
  height: auto;
  position: relative;
  overflow: visible;
}
.prada-logo-1-1 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.125rem;
  position: relative;
  overflow: hidden;
}
.group {
  flex-shrink: 0;
  width: 12.125rem;
  height: 1.95rem;
  position: relative;
  overflow: visible;
}
.frame4 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.924375rem;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-640753-wa {
  padding: 0rem 6.25rem 0rem 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-146-gh-w {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.new-arrival-7821-s {
  color: #000000;
  text-align: center;
  font-family: "ArialBlack-Regular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-135 {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-131 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.frame-32 {
  background: #f0eeed;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  max-height: 18.625rem;
  position: relative;
  overflow: hidden;
}
.image-8 {
  flex: 1;
  height: 27.65625rem;
  position: relative;
  aspect-ratio: 295/442.5;
}
.image-7 {
  width: 100%;
  height: 27.65625rem;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
  object-fit: cover;
  aspect-ratio: 295/442.5;
}
.frame-128 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.t-shirt-with-tape-details {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-35 {
  display: flex;
  flex-direction: row;
  gap: 0.8125rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-10 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5 {
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
.frame-59 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._240 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-132 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.image-82 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-102 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
._260 {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: line-through;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-42 {
  background: rgba(255, 51, 51, 0.1);
  border-radius: 3.875rem;
  padding: 0.375rem 0.875rem 0.375rem 0.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 3.625rem;
  position: relative;
  overflow: hidden;
}
._20 {
  color: #ff3333;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
}
.frame-133 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.image-9 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-103 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
.frame-134 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.image-11 {
  width: 100%;
  height: 27.65625rem;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
  object-fit: cover;
  aspect-ratio: 295/442.5;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-104 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
.button-ty-45 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1312 {
  border-radius: 3.875rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem;
  padding: 1rem 3.375rem 1rem 3.375rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 13.625rem;
  height: 3.25rem;
  position: relative;
  overflow: hidden;
}
.view-all {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}
.line-4 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-148-yas {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.top-selling-08 {
  color: #000000;
  text-align: center;
  font-family: "ArialBlack-Regular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-135-a-21 {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1352 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-105 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
.frame-136 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.image-92 {
  width: 100%;
  height: 27.5625rem;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0rem;
  object-fit: cover;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-106 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
.frame-137 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.image-12 {
  width: 100%;
  height: 27.65625rem;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0rem;
  object-fit: cover;
  aspect-ratio: 295/442.5;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-107 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
.frame-138 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 18.4375rem;
  position: relative;
}
.image-10 {
  width: 100%;
  height: 27.65625rem;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0rem;
  object-fit: cover;
  aspect-ratio: 295/442.5;
}
.t-shirt-with-tape-details-span {
}
.t-shirt-with-tape-details-span2 {
  text-transform: lowercase;
}
.frame-108 {
  display: flex;
  flex-direction: row;
  gap: 0.331875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-5-5-span {
  color: #000000;
}
._4-5-5-span2 {
  color: rgba(0, 0, 0, 0.6);
}
.button-075 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.line-49 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-145-wt {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-60 {
  background: #f0f0f0;
  border-radius: 2.5rem;
  padding: 4.0625rem 4rem 4.0625rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.browse-by-dress-style {
  color: #000000;
  text-align: center;
  font-family: "ArialBlack-Regular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1409 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-61-hs {
  background: #ffffff;
  border-radius: 1.25rem;
  flex: 1;
  height: 18.0625rem;
  min-width: 12.5rem;
  max-width: 25.4375rem;
  position: relative;
  overflow: hidden;
}
.image-112 {
  width: 239.07%;
  height: 40.5625rem;
  position: absolute;
  right: -292.87%;
  left: 153.81%;
  top: -7.625rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.casual {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  position: absolute;
  left: 2.25rem;
  top: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-62-o-5 {
  background: #ffffff;
  border-radius: 1.25rem;
  flex: 1;
  height: 18.0625rem;
  min-width: 12.5rem;
  position: relative;
  overflow: hidden;
}
.image-13 {
  width: 190.94%;
  height: 54.375rem;
  position: absolute;
  right: -90.94%;
  left: 0%;
  top: -9.125rem;
  object-fit: cover;
}
.formal {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  position: absolute;
  left: 2.25rem;
  top: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-141 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-64074 {
  background: #ffffff;
  border-radius: 1.25rem;
  flex: 1;
  height: 18.0625rem;
  min-width: 12.5rem;
  position: relative;
  overflow: hidden;
}
.image-122 {
  width: 112.57%;
  height: 38.5rem;
  position: absolute;
  right: -18.71%;
  left: 6.14%;
  top: -10.1875rem;
  object-fit: cover;
}
.party {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  position: absolute;
  left: 2.25rem;
  top: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-6341 {
  background: #ffffff;
  border-radius: 1.25rem;
  flex: 1;
  height: 18.0625rem;
  min-width: 12.5rem;
  max-width: 25.4375rem;
  position: relative;
  overflow: hidden;
}
.image-14 {
  width: 111.06%;
  height: 42.3125rem;
  position: absolute;
  right: -24.08%;
  left: 13.02%;
  top: -9.25rem;
  object-fit: cover;
}
.gym {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  position: absolute;
  left: 2.25rem;
  top: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-144-g {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-143-w {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-142 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.our-happy-customers {
  color: #000000;
  text-align: left;
  font-family: "ArialBlack-Regular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-136-gh-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 4.5rem;
  position: relative;
}
.arrow-down-bold-2 {
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.arrow-down-bold-1 {
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.carousel-slider {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-63 {
  border-radius: 1.25rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem;
  padding: 1.75rem 2rem 1.75rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 21.375rem;
  row-gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 25rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
}
.frame-30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.frame-29 {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-109 {
  display: flex;
  flex-direction: row;
  gap: 0.405625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-28 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-31 {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sarah-m {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 700;
  position: relative;
}
.frame5 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.blown-away {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-22 {
  border-radius: 1.25rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem;
  padding: 1.75rem 2rem 1.75rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 21.375rem;
  row-gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 25rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
}
.frame-1010 {
  display: flex;
  flex-direction: row;
  gap: 0.405625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame6 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.away-by-the {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-61 {
  border-radius: 1.25rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem;
  padding: 1.75rem 2rem 1.75rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 21.375rem;
  row-gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 25rem;
  position: relative;
  overflow: hidden;
}
.frame-1011 {
  display: flex;
  flex-direction: row;
  gap: 0.405625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.alex-k {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 700;
  position: relative;
}
.frame7 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.finding-cloths-that {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-62 {
  border-radius: 1.25rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem;
  padding: 1.75rem 2rem 1.75rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 21.375rem;
  row-gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 25rem;
  position: relative;
  overflow: hidden;
}
.frame-1012 {
  display: flex;
  flex-direction: row;
  gap: 0.405625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.james-l {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 700;
  position: relative;
}
.frame8 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.james-growth {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-64 {
  border-radius: 1.25rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem;
  padding: 1.75rem 2rem 1.75rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 21.375rem;
  row-gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 25rem;
  position: relative;
  overflow: hidden;
}
.frame-1013 {
  display: flex;
  flex-direction: row;
  gap: 0.405625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.mooen {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 700;
  position: relative;
}
.frame9 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.as-someone-who-s-always-on-the-lookout-for-unique-fashion-pieces-i-m-thrilled-to-have-stumbled-upon-shop-co-the-selection-of-clothes-is-not-only-diverse-but-also-on-point-with-the-latest-trends {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-4-gh-78 {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-138-kgh-w {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-45-gaw {
  background: #000000;
  border-radius: 1.25rem;
  padding: 2.25rem 4rem 2.25rem 4rem;
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.stay-upto-date-about-our-latest-offers {
  color: #ffffff;
  text-align: left;
  font-family: "ArialBlack-Regular", sans-serif;
  font-size: 2.5rem;
  line-height: 2.8125rem;
  font-weight: 400;
  position: relative;
  flex: 1;
  min-width: 18.125rem;
}
.frame-46 {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 17.5rem;
  max-width: 21.8125rem;
  position: relative;
}
.frame-3-a-sf {
  background: #ffffff;
  border-radius: 3.875rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.enter-your-email-address {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame10 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.frame-496-t {
  background: #ffffff;
  border-radius: 3.875rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.subscribe-to-newsletter {
  color: #000000;
  text-align: center;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-52-h-bd {
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 77.495625rem;
  position: relative;
}
.frame-51 {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-50 {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.shop-co {
  color: #000000;
  text-align: left;
  font-family: "IntegralCf-Bold", sans-serif;
  font-size: 2.090909242630005rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-have-clothes-that-suits-your-style-and-which-you-re-proud-to-wear-from-women-to-men {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  width: 15.5rem;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1 {
  background: #ffffff;
  border-radius: 0.875rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0.0625rem;
  padding: 0.5625rem 0.5rem 0.5625rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
}
.logo-twitter-2 {
  flex-shrink: 0;
  width: 0.698125rem;
  height: 0.564375rem;
  position: relative;
  overflow: visible;
}
._2 {
  background: #000000;
  border-radius: 0.875rem;
  padding: 0.5rem 0.6875rem 0.5rem 0.6875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
}
.logo-fb-simple-2 {
  flex-shrink: 0;
  width: 0.395rem;
  height: 0.760625rem;
  position: relative;
  overflow: visible;
}
._3 {
  background: #ffffff;
  border-radius: 0.875rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0.0625rem;
  padding: 0.4375rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
}
.logo-instagram-1 {
  flex-shrink: 0;
  width: 0.846875rem;
  height: 0.846875rem;
  position: relative;
  overflow: visible;
}
._4 {
  background: #ffffff;
  border-radius: 0.875rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0.0625rem;
  padding: 0.4375rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
}
.logo-github-1 {
  flex-shrink: 0;
  width: 0.81rem;
  height: 0.790625rem;
  position: relative;
  overflow: visible;
}
.frame-47 {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.help-menu {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.1875rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
.about-features-works {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  position: relative;
}
.frame-48 {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-features-works-9012 {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  position: relative;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-features-works2 {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  position: relative;
  width: 9.3125rem;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-features-works-fdgs {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  position: relative;
}
.frame-139 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.line-8 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.0625rem 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-1372 {
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2000-2021-all-rights-reserved {
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  width: 16.81125rem;
}
.frame-53 {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17.56625rem;
  height: 1.876875rem;
  position: relative;
}
.badge {
  border-radius: 0.33625rem;
  flex-shrink: 0;
  width: 2.913125rem;
  height: 1.876875rem;
  position: relative;
  overflow: visible;
}
.badge2 {
  border-radius: 0.33625rem;
  flex-shrink: 0;
  width: 2.913125rem;
  height: 1.876875rem;
  position: relative;
  overflow: visible;
}
.badge3 {
  border-radius: 0.33625rem;
  flex-shrink: 0;
  width: 2.913125rem;
  height: 1.876875rem;
  position: relative;
  overflow: visible;
}
.badge4 {
  border-radius: 0.33625rem;
  flex-shrink: 0;
  width: 2.913125rem;
  height: 1.876875rem;
  position: relative;
  overflow: visible;
}
.badge5 {
  border-radius: 0.33625rem;
  flex-shrink: 0;
  width: 2.913125rem;
  height: 1.876875rem;
  position: relative;
  overflow: visible;
}
